body{
  background-color: var(--p3);
  margin: 0;
}

a{
  text-decoration: none;
  color: var(--p1);

}

header{
  background-color: var(--p3);
  /* position: ; */
  display: flex;
  flex-direction: row;
  z-index: 999;
  margin: 0 5%;
  width: 90%;
  height: 11vh;
  justify-content: space-between;
  align-items: center;
}

header .logo-cnt{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4vw;
}

header .logo-cnt h3{
  color: var(--p1);
}

header .logo-cnt img{
  width: 85%;
}

header .link-cnt{
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

header .link-cnt a{
  color: var(--p1);
  font-weight: bold;
  border-bottom: 2px solid transparent;
  padding-bottom: 5px;
}

header .link-cnt a:hover{
  color: var(--p1);
  font-weight: bold;
  border-bottom: 2px solid var(--p1);
  padding-bottom: 5px;
}

header .lg-bt-cnt{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
}

header .lg-bt-cnt .btn{
  background-color: var(--p1);
  color: var(--p3);
  padding: 0.6rem;
  border-radius: .5rem;
  font-weight: bold;
  border: solid transparent 2px;
}

header .lg-bt-cnt .btn:hover{
  background-color: var(--p3);
  color: var(--p1);
  border: solid var(--p1) 2px;
  
}

header .lg-bt-cnt .lg{
  background-color: bisque;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 5rem;
  overflow: hidden;
}
header .lg-bt-cnt .lg img{
  width: 100%;
  height: 100%;
}

.home{
  /* background-color: aqua; */
  width: 90%;
  margin: 0 5%;
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
}

.home .text-cnt{
  /* background-color: cadetblue; */
  overflow: visible;
  width: 20%;
  padding-top: 10rem;
  justify-content: flex-end;

}

.home .img-cnt{
  width: 80%;
  display: flex;
  justify-content: flex-end;
}
.home .bold{
  font-weight: bold;
}

.home .stroke{
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 1px black;
  text-stroke: 1px black;
  font-weight: bold;
}




.home h1{
  white-space: nowrap;
  overflow: visible;
  font-weight: lighter;
}

.home .prf{
  width: 190%;
  margin: 5rem 0;
}

.home p{
  font-size: small;
  color: var(--p2);
}
.home .sosial-cnt{
  /* background-color: bisque; */
  width: 120%;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  gap: 2rem;
}

.home .sosial-cnt a{
  border: solid var(--p1) 2px;
  border-radius: .5rem;
  padding: .7rem;
}
.home .sosial-cnt a:hover{
  border: solid var(--p1) 2px;
  border-radius: .5rem;
  padding: .7rem;
  background-color: var(--p1);
  color: var(--p3);
}

.skill{
  width: 90%;
  margin: 5rem 5%;
}

.skill h1{
  text-align: center;
  margin: 5rem 0;
}

.skill span{
  font-weight: lighter;
}

.skill .itms{
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  margin-left: 4%;
  gap: 4%;
}
.skill .itms div{
  text-align: center;
  width: 16%;
  min-height:20vh;
  border: solid var(--p1) 2px;
  border-radius: .2rem;
  align-items: center;
  padding-top: 2rem;
}

.skill .itms div:hover{
  text-align: center;
  width: 16%;
  min-height:20vh;
  border: solid var(--p3) 2px;
  border-radius: .2rem;
  align-items: center;
  padding-top: 2rem;
  color: var(--p3);
  background-color: var(--p1);
}

.skill h6{
  font-size: 1rem;
}

.black-cnt{
  background-color: var(--p1);
  color: var(--p3);
}
.certif{
  padding: 5rem 0;
  width: 90%;
  margin: 5rem 5%;
}

.certif span{
  font-weight: lighter;
}

.certif h1{
  text-align: center;
  margin-bottom: 5rem;
}

.certif .cnt{
  
  display: flex;
  flex-direction: column;
}

.certif .th-cnt{
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.certif .t-cnt{
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin: 2.5rem 0;
  gap: 10%;
}

.certif .card{
  width: 30%;
  height: 20rem;
  text-align: center;
}

.certif .card .img-cnt{
  overflow: hidden;
  width: 100%;
  height: 80%;
}
.certif .card img{
  width: 100%;
  height: 100%;
}

.certif a{
  color: var(--p3);
}

.certif h3:hover{
  border-bottom: 2px solid var(--p3);
    padding-bottom: 5px;
}

.about{
  width: 90%;
  margin: 0 5%;
  display: flex;
  flex-direction: row;
}

.about span{
  font-weight: lighter;
}

.about .txt{
  width: 40%;
  margin-left: 10%;
}

.about p{
  color: var(--p2);
  font-size: 1.5rem;
}

.project {
  padding: 5rem 0;
  width: 90%;
  margin: 0 5%;
}

.project h1{
  text-align: center;
}
.project span{
  font-weight: lighter;
}

.project .projects-cnt{
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-top: 5rem;
}

.project .projects-cnt .projects-itm{
  display: flex;
  flex-direction: row;
  gap: 10%;
}
.project .projects-cnt .projects-itm .img-cnt{
  width: 40%;
  /* height: 20rem; */
  overflow: hidden;
  border-radius: 2.5rem;
  background-color: var(--p3);
}
.project .projects-cnt .projects-itm .img-cnt img{
  width: 100%;
  height: fit-content ;
  
}
.project .projects-cnt .projects-itm .txt{
  width: 45%;
}
.project .projects-cnt .projects-itm .txt h1{
  text-align: left;
}

.project .projects-cnt .projects-itm .txt p{
  color: var(--p2);
}

.project .projects-cnt .projects-itm .txt a{
  color: var(--p3);
}

.contact{
  padding: 8rem 0;
  width: 90%;
  margin: 0 5%;
  display: flex;
  flex-direction: row;
  gap: 10%;
}

.contact .inp{
  display: flex;
  flex-direction: column;
  width: 35%;
  gap: 1.5rem;
}
.contact .inp input{
  width: 80%;
  height: 2rem;
  border: solid 1.6px var(--p1);
}
.contact .inp textarea{
  width: 80%;
  height: 6rem;
  border: solid 1.6px var(--p1);
}

.contact .inp .elm{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.contact .inp .elm button{
  color: var(--p3);
  padding: .8rem;
  border: none;
  border-radius: .3rem;
  background-color: var(--p1);
  font-weight: bold;
  border: solid var(--p1) 2px;
}

.contact .inp .elm button:hover{
  color: var(--p1);
  padding: .8rem;
  border: none;
  border-radius: .3rem;
  background-color: var(--p3);
  font-weight: bold;
  border: solid var(--p1) 2px;
}

.contact .inp .elm a{
  border: solid 2px var(--p1);
  border-radius: .3rem;
  padding: .3rem;
}

.contact .inp .elm a:hover{
  border: solid 2px var(--p1);
  background-color: var(--p1);
  color: var(--p3);
  border-radius: .3rem;
  padding: .3rem;
}

.contact .txt{
  width: 40%;
}

.contact .txt p{
  color: var(--p2);
}

.contact .txt span{
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 1px var(--p1);
  text-stroke: 1px var(--p1);
  font-weight: bold;

}

.footer{
  padding: 1.2rem 0;
  text-align: center;
}



/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
